.die{
display: grid;
grid-template-columns: 50% 50%;
}
.inform{
    margin: 10px;
    padding: 10px;
}
button{
    color:white;
    background-color: blue;
}
.form{
    background-color: #80edc0;
}
.form h1{
    text-align: center;
    
}
form{
    margin: 30px auto;
    background-color:bisque;
    width: 450px;
    padding: 60px;
    
}
form input{
    width: 60%;
    padding: 10px;
}
#button{
    background-color: rgb(23, 231, 23);
    cursor: pointer;
}
