.pa{
    background-color:antiquewhite;
}
.ge li{
display: inline;
padding: 20px;
margin: 20px;
text-align: center;
color: brown;
}
.swag{
    text-align: center;
}
.current li{
    display: inline;
    padding: 20px;
    text-align: center;
    color: red;

}
.para{
    margin: 10px;
    padding: 10px;
}
